.arrow-btn {
  position: relative;
  overflow: hidden;
}

.arrow-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.arrow-btn:hover:before {
  transform: scaleX(1);
}

.row.slide-1 {
  animation: slideInFromLeft 0.5s;
}

.row.slide-2,
.row.slide-4,
.row.slide-6,
.row.slide-8 {
  animation: slideInFromRight 0.5s;
}

.row.slide-3,
.row.slide-5,
.row.slide-7,
.row.slide-9 {
  animation: slideInFromLeft 0.5s;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
