/* CardElement.css */
.card-container {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.8s forwards;
  animation-delay: calc(1.5s + 0.2s * var(--card-order, 0));
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-element {
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s, filter 0.3s;
}

.card-element:hover {
  transform: scale(1.03);
  filter: brightness(120%);
}

.card-element .card-body {
  position: relative;
  z-index: 1;
}
