@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

body {
  font-family: "Roboto Mono", monospace, sans-serif;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-toggler {
  border-color: white !important;
}
